*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    line-height: 1;
    font-family: 'Poppins', sans-serif;
    color: #666;

   
}

 :root{
    --main-color:#fcc520;
}




/* header section */



.change-bg{
    background-color: white;
    box-shadow: 0px 3px 8px 0px rgb(21 47 95 / 12%);
} 

/* Nav section */
 .nav-item{
    font-size: 17px;
    padding:5px !important;
}
.nav-link:link,
.nav-link:visited {
    text-decoration: none;
    color: #000;
    font-weight: 500;
    transition: all 0.3s;
    position: relative;
    transition: all 0.3s;
    padding: .5rem 0;
    position: relative;
}

.nav-link:active,
.nav-link:hover {
    color: #fcc520 !important;
} 
.nav-link{
    position: relative;
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.navbar-nav{
    width: 40%;
}
.nav-link::after{
    content: '';
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0;
    position: absolute;
    background-color: var(--main-color);
   transition: all 0.5s;
}
.nav-link:hover:after{
    width: 90%;
}
/********************************************************/
/* home */
 .section-hero {
    background-color: #fbfbfb;
}

 .section-hero .container {
    padding-bottom: 0;
} 

.caption-text h1{
    font-size: 4rem;
    font-family: Poppins sans-serif;
    font-weight: 700;
}
.caption-text p{
    font-size: 1.5rem;
    color:rgb(102, 102, 102);
    line-height: 33.6px;
}
.btn-hero{
    background-color: var(--main-color);
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 700;
}
.btn-hero:visited,
.btn-hero:link {
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: .2rem;
    color: white;
    width: fit-content;
    padding: 2rem 7.4rem;
    background-color: #feb633;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}

.btn-hero:active,
.btn-hero:hover {
    color: #feb633 !important;
    background-color: transparent;
    box-shadow: inset 0 0 0 2px #feb633;
}

.caption-img img {
    width: 100%;
    height: fit-content;
} 
/****************************************************/

/* about section */

.container-about{
    margin: 9.6rem 0;
    padding: 0 9.6rem;
}

.about-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/about_shap_bg.png);
    background-repeat: no-repeat;
    position: relative;
   padding: 7rem !important;
}

.about-heading::before{
    content: "";
    height: 4px;
    width: 30%;
    bottom: 40%;
    background-color: #fcc520;
    position: absolute;
}
.about-text p{
    color: #8a8fa3;
    font-size: 1.2rem;
    line-height: 1.5;
}


.about-heading h2{
    font-size: 42px;
    font-weight: 700;
    color: #32333c;
    font-family: 'Poppins', sans-serif;
}

.about--btns{
    gap: 2rem;
}
.about--btns .btn--transparent,
.about--btns .btn--yellow {
    font-size: 1rem;
    letter-spacing: 0;
    font-weight: 600;
    border-radius: 5px;
}
.btn--yellow{
    background-color: #fcc520;
    border: none;
    color: white;
}
.btn--transparent{
    background-color: transparent;
    border: #fcc520 1px solid;
    color: #fcc520;
}
.btn--yellow:visited,
.btn--yellow:link {
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: .2rem;
    color: white;
    width: fit-content;
    padding: 2rem 7.4rem;
    background-color: #feb633;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}

.btn--yellow:active,
.btn--yellow:hover {
    color: #feb633;
    background-color: transparent;
    box-shadow: inset 0 0 0 2px #feb633;
}
.btn--transparent:link,
.btn--transparent:visited {
    text-decoration: none;
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: .2rem;
    display: flex;
    text-decoration: none;
    color: #feb633;
    width: fit-content;
    padding: 2rem 7.4rem;
    border-radius: 5px;
    background-color: transparent;
    box-shadow: inset 0 0 0 2px #feb633;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.btn--transparent:active,
.btn--transparent:hover {
    background-color: #feb633;
    color: white;
}
/**********************************************************/

/*section services*/

.section-services{
    background-color: #fbfbfb;
    padding: 9.6rem 0;
}
.heading{
    position: relative;
    color:rgb(50, 51, 60);
    font-size: 42px;
    line-height: 42px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}
.services-title{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}
.heading::before{
    content: "";
    position: absolute;
    width: 70%;
    height: 4px;
    bottom: -30px;
    left: 20px;
    transform: translate(0);
    background-color: #feb633;
    -webkit-transform: translate(0);
    -moz-transform: translate(0);
    -ms-transform: translate(0);
    -o-transform: translate(0);
} 
.services-title p{
    width: 70%;
    margin: 2.4rem auto;
    text-align: center;
    color: #8a8fa3;
    font-size: 1.1rem;
    line-height: 1.6;
}

.services-box{
    position: relative;
    color: white;
    display: flex;
    flex-direction: column;
    z-index: 1;
    text-align: start;
    line-height:10px;
}


.box{
    border-radius: 11px;
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    -ms-border-radius: 11px;
    -o-border-radius: 11px;
    overflow: hidden;
    gap: 2.4rem;
}

.box-caption1{
    opacity: .9;
    background-image: linear-gradient(-48deg, rgb(35, 126, 253)0%, rgb(36, 176, 254) 54%, rgb(36, 226, 255) 100%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.box-caption2{
    opacity: .9;
    background-image: linear-gradient(-48deg, rgba(255, 211, 36, 0.99)0%, rgba(254, 187, 36, 0.99)54%, rgba(253, 163, 35, 0.99)100%);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.box-caption3{
    position: absolute;
    opacity: .9;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(-48deg, rgba(248, 47, 160, 0.99)0%, rgba(214, 54, 208, 0.99)54%, rgba(180, 61, 255, 0.99)100%);
}
.box-caption4{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .9;
    background-image: linear-gradient(-48deg, rgba(3, 220, 13, 0.99) 0%, rgba(2, 204, 71, 0.99)54%, rgba(0, 188, 128, 0.99) 100%);
}
.service-icon{
    padding: 30px;
}

.services-heading{
    font-size: 32px;
    font-weight: 600;
    padding: 0 30px;
    font-weight: 700;
}

.services-text{
    font-size: 1rem;
    line-height: 1.5;
    padding: 0 30px;
    line-height: 21px;
    font-family:Poppins sans-serif;
}

/******************************************/
/*portfolio section*/
.portfolio-heading,.experince-heading{
    position: relative;
    margin: 20px 0;
    color:rgb(50, 51, 60);
    font-size: 42px;
    line-height: 42px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}
.portfolio-heading::before,.experince-heading::before{
    content: "";
    position: absolute;
    width: 50%;
    height: 4px;
    top: 50px;
    right: 20%;
    transform: translate(0);
    background-color: #feb633;
    -webkit-transform: translate(0);
    -moz-transform: translate(0);
    -ms-transform: translate(0);
    -o-transform: translate(0);
} 
.portfolio-title ,.experince-title{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}
.portfolio-title p,.experince-title p{
    width: 70%;
    margin: 1rem auto;
    text-align: center;
    color: #8a8fa3;
    font-size: 1.1rem;
    line-height: 1.6;
}

.nav-tap{
    list-style: none;
   margin: 0 auto;
   width: 80%;
}
.tap-link{
    transition: all 1s;
}

.tap-link:link,.tap-link:visited{
    text-decoration: none;
    font-size: 1.1rem;
    color: #555;
}

.tap-link.active{
    color: #feb633;
    border-bottom: 1px solid #feb633;
}

.tap-link:hover{
    color: #feb633;
    border-bottom: 1px solid #feb633;
}
.portfolio-imgs img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.portfolio-imgs .img{
    position: relative;
    overflow: hidden;
    padding-bottom: 0 !important;
}

.layer{
    background-color: #fcc520;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    flex-direction: column;
    transition: all 1s;
    padding-bottom: 0 !important;
}

.portfolio-imgs .img:hover .layer{
    top: 0;
}
.overlay-heading{
    font-size: 1.2rem;
}


/* work experince section */

.work-experince{
    background-color: #fbfbfb;
}
.experince-box{
    border: 1px solid #edecec;
    border-collapse: collapse;
    background-color: white;
    padding: 5rem 3rem;
    display: flex;
    flex-direction: column;
    transition: all 0.3s;
}
.experince-box:hover{
    background-color: #fcc520;
}
.experience-date {
    font-size: 1rem;
    line-height: 1.5;
    color: #8a8fa3;
}

.experience-heading {
    font-size: 1.5rem;
    color: #000;
    line-height: 1.6;
    font-weight: 600;
}
.experience-adobe {
    color: #8a8fa3;
    font-size: 1.1rem;
    line-height: 1.5;
}
.experience-text {
    line-height: 1.5;
    font-size: 1rem;
    color: #8a8fa3;
}

/***********************************************/
/* contact-section */
.contact-section {
    background-image: url(../images/hire_bg.png);
    background-position: center;
    background-size: cover;
    background-color: #fece47;
    background-repeat: no-repeat;
    padding: 9.6rem 0;
}

.contact-heading {
    color: white;
    line-height: 1.5;
    position: relative;
    font-size: 2.3rem;
    font-weight: 700;
}

.contact-button:link,
.contact-button:visited {
    text-decoration: none;
    background-color: white;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 5px;
    padding: 1rem 4rem;
    transition: all 0.3s;
    color: #feb633;
}


.contact-button:active,
.contact-button:hover {
    background-color: #000;
    color: #fff;
}

/* footer */

footer {
    padding: 2.4rem 0;
}
.footer-content {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.footer-text {
    width: 55%;
    margin: 0 auto;
    font-size: 1.2rem;
    line-height: 1.5;
    color: #8a8fa3;
}

.social-icon {
    display: flex;
    margin-bottom: 2rem;
    gap: 1rem;
}


.social-icon .fa-stack:hover{
    color: #fece47;
}

.Copyright-text {
    color: #8a8fa3;
    font-size: 1.2rem;
}

.Copyright-text span {
    color: #feb633;
}